<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.0" name="org.sonatype.maven">
  <resources>

<resource-root path="wagon-ahc-1.2.1.jar"/>

  </resources>
  <dependencies>

<module name="org.apache.maven.wagon" export="false"/>
<module name="org.codehouse.plexus" export="false"/>
<module name="org.kie.lib" export="false"/>

<module name="javax.api" export="false"/>
  </dependencies>
</module>
