<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.0" name="org.apache.commons.logging">
  <resources>

<resource-root path="commons-logging-api-1.1.jar"/>
<resource-root path="commons-logging-1.1.1.jar"/>

  </resources>
  <dependencies>


<module name="javax.api" export="false"/>
  </dependencies>
</module>
