<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.0" name="org.apache.helix">
  <resources>

<resource-root path="helix-core-0.6.2-incubating.jar"/>

  </resources>
  <dependencies>

<module name="com.google.guava" export="false"/>
<module name="org.apache.camel" export="false"/>
<module name="org.apache.commons.cli" export="false"/>
<module name="org.apache.commons.io" export="false"/>
<module name="org.apache.commons.math" export="false"/>
<module name="org.apache.log4j" export="false"/>
<module name="org.apache.zookeeper" export="false"/>
<module name="org.codehaus.jackson.jackson-core-asl" export="false"/>
<module name="org.codehaus.jackson.jackson-mapper-asl" export="false"/>
<module name="org.kie.lib" export="false"/>
<module name="org.yaml.snakeyaml" export="false"/>

<module name="javax.api" export="false"/>
  </dependencies>
</module>
