<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.0" name="org.jboss.solder">
  <resources>

<resource-root path="solder-api-3.2.1.Final.jar"/>
<resource-root path="solder-logging-3.2.1.Final.jar"/>
<resource-root path="solder-impl-3.2.1.Final.jar"/>

  </resources>
  <dependencies>

<module name="javax.el.api" export="false"/>
<module name="javax.enterprise.api" export="false"/>
<module name="javax.servlet.api" export="false"/>
<module name="org.apache.log4j" export="false"/>
<module name="org.javassist" export="false"/>
<module name="org.kie.lib" export="false"/>
<module name="org.slf4j" export="false"/>

<module name="javax.api" export="false"/>
  </dependencies>
</module>
